.footer {
    height: var(--footer-height);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #c8d2e6;
    flex-shrink: 0;
    padding-left: 12px;
  
    span {
      padding-right: 8px;
    } 
  }
  