.layout {
 display: flex;
 flex-direction: column;
    
}
.searchBlock {
    display: flex;
    justify-content: flex-end;
}
.input {
    display: flex;
    flex-grow: 1;
    padding: 10px;
    border: none;
    outline: none;
    min-width: 0;
    background-color: #f0f0f0;
  }
.searchbox {
    display: flex;
    align-items: center;
    height: 30px;
    width: 400px;
}

.columns {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.columnHeader {
    display: flex;
  background-color: #f0f0f0;
  font-weight: bold;
  color: #4e4949

}
.header {
    flex: 1;
    padding: 10px;
    text-align: left;
    
}
.columnElem {
    display: flex;
    border-bottom: 1px solid #ddd;
}
.columnCell {
    flex: 1;
    padding: 10px;
    color: #4e4949

}
.textCenter {
    padding-top: 20px;
    text-align: center;
}



